/* Dark mode styles for the body when dark mode is active */
body.dark-mode {
    background-color: #222; /* Set background color to a dark shade */
    color: #fff; /* Set text color to white */
}

/* Dark mode styles for the navigation bar when dark mode is active */
.Navigation.dark-mode {
    background-color: #222; /* Set background color to a dark shade */
    color: #fff; /* Set text color to white */
}

/* Dark mode styles for navigation links when dark mode is active */
.Navigation.dark-mode a {
    color: #fff; /* Set text color to white for navigation links */
}

/* Dark mode styles for navigation links on hover when dark mode is active */
.Navigation.Navigation.dark-mode a:hover {
    background-color: #222; /* Set background color on hover to maintain visibility */
    text-decoration: none; /* Remove default underline on hover */
}

/* Additional dark mode styles as needed */

/* Styles for the 'namenav' class, which may be used for a specific element */
.namenav {
    color: whitesmoke; /* Set text color to a shade of white-smoke */
}
