/*.Navigation is the background of the navBar*/
.Navigation {
    width: 100%; /*the navbar havve a widht of 100%*/
    background-color: white; /*This gives the navbar the black background seen on the website,*/
    overflow: auto; /*The overflow property specifies what should happen if content overflows an element's box, auto if overflow is clipped, a scroll-bar should be added to see the rest of the content*/
}
/*Navigation A is the text in the navigation bar, which the user will click on to send them to the differen pages.*/
.Navigation a {
    font-family: 'Mukta', sans-serif;
    text-decoration: none; 
    float: left; /*The float property is used for positioning and formatting content, in this case the content is positioned to the left*/
    color: black; /*The text in the Navigation A is set to White*/
    font-size: 17px; /*here the font size of the text in the Navbar is set to 17 pixels*/
    padding: 24px; /*This gives the text a bit of padding around them which is used to generate space around an element's content*/
}
/*when the user hovers over the different web URLs is black so it doesn't show and ruin the Navbar if set to blue when the user hovers over it will change the backgrond to white*/ 
.Navigation a:hover {
    background-color: white;
    text-decoration: none; 
    

}
